# 파이썬으로 배우는 통계학 [구글 Colab으로 작성하고 있습니다]
### 아래 내용 정리는 다음 웹사이트를 참고하였습니다.
참고사이트:  https://partrita.github.io/posts/thinkstat2/  
읽으면 좋은 사이트:  
(1) https://brunch.co.kr/@chris-song/54

0. 통계적사고
1. 탐색적 자료 분석: 일화적증거(anecdotal evidence)
2. 분포 확인
3. 확률 질량 함수
4. 누적 분포 함수
5. 분포 모델
6. 확률밀도함수
7. 변수간 관계
8. 추정
9. 가설검정
10. 선형최소제곱(Linear Least Squares)
11. 회귀
12. 시계열분석
13. 생존분석
14. 해석적 방법(Analytic method)
15. 요약

In [ ]:
import warnings
warnings.filterwarnings("ignore")   # 경고문 끄기

In [ ]:
import pandas as pd
import io

In [ ]:
from google.colab import files
myfile = files.upload()

Saving DCM_toydata.csv to DCM_toydata.csv

In [ ]:
# data = pd.read_excel(io.BytesIO(myfile['DCM_toydata.xlsx']))
data = pd.read_csv(io.BytesIO(myfile['DCM_toydata.csv']))

In [ ]:
data.columns

Index(['일련번호', 'Unnamed: 1', 'Serial No. ', 'Unit No. ', 'Sex', 'Age',
       'exclusion', 'MRI date', 'Height', 'weight', 'BSA(m2)', 'BMI \n(kg/m2)',
       'systolic BP\n(mmHg)', 'diastolic BP\n(mmHg)',
       'Heart rate\n(beats/min)', 'Creatinine', 'eGFR \n(ml/min/1.73m2)',
       'Creatinine_시행일자', 'Sodium', 'Sodium_시행일자', 'NT-proBNP(pg/mL)_결과값',
       'NT-proBNP_시행일자', 'Hematocrit\n (%)', 'Hematocrit_시행일자',
       'NYHA \nfunctional class (I~IV)', 'NYHA_binary', '기록 작성일자',
       'Diabetes (확진)', '진단일자', 'smoking\n(current or previous)',
       'Family history of cardiomyopathy or sudden cardiac death',
       'History of atrial fibrillation', '진단일자.1',
       'Initial echocardiography date', 'LVEF1', 'LVEDD1',
       'F/U echocardiography date', 'LVEF2', 'LVEDD2', 'Echo_interval',
       'Death', 'Cause of death ', 'MI Hx', 'MI _date', 'stress ECG',
       'stess_date', 'SPECT', 'SPECT\n_date', 'Heart_CT', 'HeartCT\n_date',
       'CAG\n(coronary angiography)', 'CAG\n(Comment)',
       'CAG\n(a. Clinical diagnosis)', 'CAG\n(b. Anatomical diagnosis)',
       'CAG\n(Conclusions)', 'CAG_date', 'LVEF호전', 'LVEDDi감소', 'LVRR',
       'LVEF2>45%', 'LGE%'],
      dtype='object')

In [ ]:
print("열 개수 :", len(data.columns))   # 열 수
print("행 개수 :", len(data.index))     # 행 수

열 개수 : 61
행 개수 : 149

In [ ]:
columns = ['일련번호', 'Unnamed:1', 'SerialNo', 'UnitNo', 'Sex', 'Age',
       'exclusion', 'MRI-date', 'Height', 'weight', 'BSA', 'BMI',
       'systolic-BP', 'diastolic-BP',
       'Heart rate(beats/min)', 'Creatinine', 'eGFR(ml/min/1.73m2)',
       'Creatinine시행일', 'Sodium', 'Sodium시행일', 'NT-proBNP(pg/mL)결과값',
       'NT-proBNP시행일', 'Hematocrit(%)', 'Hematocrit시행일',
       'NYHA_class(I-IV)', 'NYHA_binary', '기록작성일자',
       'Diabetes(확진)', '진단일자', 'smoking(current/previous)',
       'Family history of cardiomyopathy or sudden cardiac death',
       'History of atrial fibrillation', '진단일자.1',
       'Initial echocardiography date', 'LVEF1', 'LVEDD1',
       'F/U echocardiography date', 'LVEF2', 'LVEDD2', 'Echo_interval',
       'Death', 'Cause of death ', 'MI Hx', 'MI _date', 'stress ECG',
       'stess_date', 'SPECT', 'SPECT_date', 'Heart_CT', 'HeartCT_date',
       'CAG(coronary angiography)', 'CAG(Comment)',
       'CAG(a. Clinical diagnosis)', 'CAG(b. Anatomical diagnosis)',
       'CAG(Conclusions)', 'CAG_date', 'LVEF호전', 'LVEDDi감소', 'LVRR',
       'LVEF2>45%', 'LGE%']

In [ ]:
data.columns = columns

In [ ]:
data.head()

   일련번호 Unnamed:1  SerialNo   UnitNo  ... LVEDDi감소  LVRR  LVEF2>45%  LGE%
0     1       NaN         5  1104447  ...        0     0          0  6.83
1     2       NaN         8  7480655  ...        1     1          1  0.00
2     3       NaN        12  7494553  ...        1     1          0  0.71
3     6       NaN        26  7425998  ...        0     0          0  0.00
4     8       NaN        41  7549298  ...        1     1          1  0.00

[5 rows x 61 columns]

In [ ]:
data_main = data[['SerialNo', 'Sex', 'Age', 'Height', 'weight', 'BMI', 'systolic-BP', 'diastolic-BP', 'Heart rate(beats/min)']]
data_main

     SerialNo Sex  Age  ...  systolic-BP  diastolic-BP  Heart rate(beats/min)
0           5   M   65  ...        120.0          80.0                   78.0
1           8   M   49  ...          NaN           NaN                    NaN
2          12   M   67  ...        110.0          70.0                   72.0
3          26   F   45  ...        110.0          70.0                   68.0
4          41   M   17  ...        105.0          55.0                  107.0
..        ...  ..  ...  ...          ...           ...                    ...
144      1036   F   56  ...        106.0          65.0                   69.0
145      1045   M   40  ...        125.0          90.0                   75.0
146      1049   M   65  ...        100.0          66.0                   80.0
147      1052   M   37  ...         98.0          65.0                   76.0
148      1067   M   74  ...        121.0          72.0                  108.0

[149 rows x 9 columns]